@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: dimgray;
    font-family: 'Bebas Neue', cursive;
}
.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px;
    background-color: #bebebe;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.menuIcon{
    margin-left: auto;
    cursor: pointer;
    font-size: 2rem;
}
.brand{
    font-family: 'Bangers', cursive;
    font-size: 32px;
}
.modalMenu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.500);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 200;
}
.closeIcon{
    color: gold;
    font-size: 2rem;
    position: absolute;
    top: 15vh;
    right: 10%;
}
.closeIcon:hover{
    color: black;
    cursor: pointer;
}
.modalMenu a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    
}
.modalMenu a:hover{
    color: orangered;
    font-size: 2.2rem;
}
.container{
    width: 100vw;
    height: auto;
    min-height: 100vh;
}
.container section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
section .title{
    color: cadetblue;
}
.home{
    flex-direction: column;
    justify-content: flex-start;
    background-color: unset;
    gap: 40px;
}
.home_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
}
.homeImage{
    width: 450px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 200px 200px 0px 50px;
    box-shadow: 9px 6px 7px black;
    border: 5px solid cadetblue;
    animation-name: buttontoTop;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.homeText{
    font-size: 7rem;
    color: cadetblue;
    animation-name: buttontoTop;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    opacity: 0;

}
.about{
    background-color: thistle;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1 box2"
    "box3 box4"
    ;
}
.box{
    padding: 40px;
    width: 100%;
    height: 100%;
}
.about_box1{
    grid-template: box1;
    background-image: url(https:picsum.photos/seed/52/600);
    background-size: cover;
    background-attachment: auto;
    border-radius: 0 200px 0px 0;
}
.about_box2{
    grid-template: box2;
}
.about_box3{
    grid-template: box3;
}
.about_box2, .about_box3{
    font-size: 1rem;
}
.about_box4{
    grid-template: box4;
    background-image: url(https:picsum.photos/seed/66/600);
    background-size: cover;
    background-attachment: auto;
    border-radius: 200px 0px 0px 0;
}
.showcase{
    background-image: url(https:picsum.photos/seed/200/900);
    background-size: cover;
    background-attachment: fixed;
}
.rotateIcon{
    font-size: 4rem;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.contact{
    background-image: url(https:picsum.photos/seed/25/900);
    background-size: cover;
    background-attachment: fixed;
}
.alertAbout{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: salmon;
    position: sticky;
    top: 10vh;
    z-index: 80;
    margin-bottom: auto;
}

@keyframes buttontoTop{

    from{
        transform: translateX(-20vh);
        opacity: 0;
    }
    to{
        transform: translateX(0vh);
        opacity: 2;
    }
    
}
@keyframes rotate{
    fm{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
